<div class="container mt-5">
    <div class="card p-5 mb-4 bg-light rounded-3 border border-danger shadow-sm">
        <div class="card-body">
            <h1 class="display-5 fw-bold text-danger mb-4">Información Personal</h1>

            <p class="fs-6"><strong>Nombre:</strong> Maria Carolina Ruiz Garcia</p>
            <p class="fs-6 text-muted"><strong>Año de matrícula:</strong> 2021</p>
            <p class="mt-3">
                <strong>GitHub:</strong> 
                <a href="https://github.com/CAROLINARUIZG" class="btn btn-dark btn-sm shadow-sm" target="_blank">Enlace a Github</a>
            </p>
        </div>
    </div>

    <hr class="my-5">
    <h2 class="h3 mb-3 text-secondary subtitulo">Resumen</h2>
    <p id="resumen-texto" class="resumen lead text-dark bg-white p-3 rounded border">
    Estudiante de ingenieria civil industrial, mencion data analitics. Conocimientos de lenguajes de programacion como python, javascript, SQL.
    Manejo de plataforma stadistica STATA. He realizado ayudantias en distintos ramos a lo largo de mis estudios universitarios.
    </p>

    <h2 class="h4 mt-5 mb-3 text-danger Ayudantias-titulo">Ayudantías</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover border Ayudantias">
            <thead class="table-dark">
                <tr>
                    <th>Asignatura</th>
                    <th>Cargo</th>
                    <th>Periodo</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Algebra e Introduccion al Calculo</td><td>Corrector</td><td>2023-10</td></tr>
                <tr><td>Fundamentos de Quimica</td><td>Catedra</td><td>2023-10</td></tr>
                <tr><td>Algebra e Introduccion al Calculo</td><td>Corrector</td><td>2024-10</td></tr>
                <tr><td>Fundamentos de Quimica</td><td>Coordinador</td><td>2024-20</td></tr>
                <tr><td>Fundamentos de Quimica</td><td>Corrector</td><td>2024-20</td></tr>
                <tr><td>Fundamentos de Quimica</td><td>Coordinador</td><td>2025-10</td></tr>
                <tr><td>Design Thinking Applied to Ingeniering</td><td>Proyecto</td><td>2025-10</td></tr>
                <tr><td>Metodos Estadisticos para la Gestion</td><td>Corrector</td><td>2025-20</td></tr>
                <tr><td>Programacion Matematica</td><td>Corrector</td><td>2025-20</td></tr>
                <tr><td>Bases de Datos</td><td>Corrector</td><td>2025-20</td></tr>
                <tr><td>Bases de datos</td><td>Corrector</td><td>2026-10</td></tr>
                <tr><td>Metodos Estadisticos para la Gestion</td><td>Proyecto</td><td>2026-10</td></tr>
                <tr><td>Design Thinking Applied to Ingeniering</td><td>Corrector</td><td>2026-10</td></tr>
            </tbody>
        </table>
    </div>

    <hr class="my-5">
    <h2 class="h3 mb-3 text-secondary subtitulo">Habilidades</h2>
    <p class="habilidades p-2 bg-white rounded border shadow-sm">
        A lo largo de mis estudios universitarios he pasado por ramos de computacion tanto por malla como por concentracion tecnologica. Por otro lado,
        he desarrollado habilidades blandas. A continuacion una tabla con mis habilidades y su nivel de conocimiento:
    </p>
    <div class="row mb-5">
        <div class="col-md-8 col-lg-6">
            <table class="table table-bordered border-danger shadow Habilidades">
                <thead class="table-danger text-danger-emphasis">
                    <tr>
                        <th>Habilidad</th>
                        <th>Nivel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Python</td><td>Básico</td></tr>
                    <tr><td>JavaScript</td><td>Básico</td></tr>
                    <tr><td>SQL</td><td>Intermedio</td></tr>
                    <tr><td>Git</td><td>Básico</td></tr>
                    <tr><td>STATA</td><td>Intermedio</td></tr>
                    <tr><td>Inglés</td><td>Avanzado</td></tr>
                    <tr><td>Español</td><td>Nativo</td></tr>
                    <tr><td>Excel</td><td>Intermedio</td></tr>
                    <tr><td>PowerBI</td><td>Basico</td></tr>
                    <tr><td>AppScript</td><td>Intermedio</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr class="my-5">
    <div class="card p-4 mb-5 border-danger bg-light shadow">
    <div class="card-body">
        <h3 class="h4 text-danger mb-3">Actualizar Resumen</h3>
        <div class="input-group">
        <input type="text" id="palabras" class="form-control border-danger" placeholder="Escribe el nuevo texto aquí...">
        <button id="boton" class="btn btn-danger" type="button">Actualizar</button>
      </div>
    </div>
  </div>
</div>