/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 @import "bootstrap";

 body {
    background-color: #fdf2f2; 
    padding-top: 20px;
}

h2.text-secondary {
    border-left: 5px solid #dc3545;
    padding-left: 15px;
}

.card {
    transition: all 0.2s ease-in-out;
}
.card:hover {
    box-shadow: 0 10px 20px rgba(255, 34, 163, 0.1) !important;
}
